version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    labels:
      - "dependencies"
    groups:
      all:
        patterns:
          - "*"
        update-types:
          - "all"
